
@font-face {
    font-family: 'Montserrat';
    src: url("./Fonts/Montserrat/static/Montserrat-Regular.ttf");

}
@font-face {
    font-family: 'Roboto';
    src: url("./Fonts/Roboto/Roboto-Regular.ttf");

}



